/*
------------
Fonts
------------
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
------------
Variables
------------
*/

:root {
  /* dark shades*/
  --clr-primary-1: #0b25e6;
  --clr-primary-2: #102001b6;
  /* lighter shades */
  --clr-primary-3: rgba(170, 230, 241, 0.603);
  --clr-primary-4: #5068eeb6;
  --clr-primary-5: #477de2;
  --clr-primary-6: #4639b6b6;
  --clr-primary-7: #f2f2f2;
  --clr-primary-8: rgb(238, 238, 88);
  /* white */
  --clr-white: #ffffff;
  /* black */
  --clr-black: #222;
  /* grey */
  --clr-grey: rgb(143, 142, 142);

  /* Styles */
  --ff-primary: "Roboto", sans-serif;
  --transition: all 0.3s linear;
  --bold: 800;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 150px rgba(168, 18, 18, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
------------
Global Styles
------------
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
  background-color: var(--clr-primary-3);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: contain;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
